<h1>This is a partial </h1>

<div id="tones"></div>

<h2 class="moody"><%= @data2 %></h2>

<div class="container">
  <div class="nextButton pulse1"></div>
  <div class="nextButton pulse2"></div>
  <div class="nextButton pulse3"></div>
</div>

