
<h1 class="tones" > Default emotion:</h1>
  <li id="Anger" class="hidden">Anger </li>
  <li id="Disgust" class="hidden">Disgust </li>
  <li id="Fear" class="hidden">Fear </li>
  <li id="Joy" class="hidden">Joy </li>
  <li id="Sadness" class="hidden">Sadness </li>

  <h1> <%= render "animation" %> </h1>
