---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/channels/lirik/follows
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - 7ys61xpn2rnyzibtuuf05le3utxgts
      Authorization:
      - OAuth vmgryl3yotuzd472lqye7m96nwhtyn
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 19f9fe33a4ccc24a54b323a508550a4e
      X-Ctxlog-Logid:
      - 1-59af10c5-2f0474ee44a8352176cb0cda
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1800230,"_links":{"self":"https://api.twitch.tv/kraken/channels/lirik/follows?channel=lirik\u0026direction=desc\u0026limit=25","next":"https://api.twitch.tv/kraken/channels/lirik/follows?channel=lirik\u0026cursor=1504644934910093000\u0026direction=desc\u0026limit=25"},"_cursor":"1504644934910093000","follows":[{"created_at":"2017-09-05T21:01:26Z","_links":{"self":"https://api.twitch.tv/kraken/users/hi2412/follows/channels/lirik"},"notifications":false,"user":{"display_name":"hi2412","_id":135426696,"name":"hi2412","type":"user","bio":null,"created_at":"2016-09-26T02:09:41Z","updated_at":"2017-09-05T01:56:23Z","logo":null,"_links":{"self":"https://api.twitch.tv/kraken/users/hi2412"}}},{"created_at":"2017-09-05T21:00:57Z","_links":{"self":"https://api.twitch.tv/kraken/users/na4rssie/follows/channels/lirik"},"notifications":true,"user":{"display_name":"na4rssie","_id":135900459,"name":"na4rssie","type":"user","bio":null,"created_at":"2016-10-01T18:08:34Z","updated_at":"2017-08-06T22:55:20Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/na4rssie-profile_image-e98f8dfc57797799-300x300.png","_links":{"se[...]
