---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/summary/?game=hearthstone
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - kgdgf1261owax6k6ytxze7ou1ehbc9
      Authorization:
      - gzzyun8saod31stiwii5qd2sllcyfl
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - b7ff3d57b1f9e7c027760cbaa04ab0d0
      X-Ctxlog-Logid:
      - 1-59b20c95-57f1f0911ed709a74f9036ce
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"channels":195,"viewers":44140,"_links":{"self":"https://api.twitch.tv/kraken/streams/summary?game=hearthstone"}}'
  recorded_at: Fri, 08 Sep 2017 03:20:53 GMT
recorded_with: VCR 3.0.3
