---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/summary/?game=hearthstone
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - 7ys61xpn2rnyzibtuuf05le3utxgts
      Authorization:
      - OAuth vmgryl3yotuzd472lqye7m96nwhtyn
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 37177902d229c6b330d69639d0788be7
      X-Ctxlog-Logid:
      - 1-59af2ec3-668064da0f9c1c8c0217eb4b
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"channels":253,"viewers":46636,"_links":{"self":"https://api.twitch.tv/kraken/streams/summary?game=hearthstone"}}'
  recorded_at: Tue, 05 Sep 2017 23:09:55 GMT
recorded_with: VCR 3.0.3
