---
http_interactions:
- request:
    method: put
    uri: https://api.twitch.tv/kraken/users/honorshard/follows/channels/lirik
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - 7ys61xpn2rnyzibtuuf05le3utxgts
      Authorization:
      - OAuth vmgryl3yotuzd472lqye7m96nwhtyn
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - d20894cf066cf80343f88f5438ee77ae
      X-Ctxlog-Logid:
      - 1-59af0bca-64e384f5243070362b558f27
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"created_at":"2017-09-02T23:10:00Z","_links":{"self":"https://api.twitch.tv/kraken/users/honorshard/follows/channels/lirik"},"channel":{"mature":false,"partner":true,"status":"Lets
        No-Life This Game - Twitter: @LIRIK ","broadcaster_language":"en","display_name":"LIRIK","game":"Destiny
        2","language":"en","_id":23161357,"name":"lirik","created_at":"2011-06-27T18:34:45Z","updated_at":"2017-09-05T20:36:19Z","delay":null,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/lirik-profile_image-476e7a592cdfed74-300x300.png","banner":null,"video_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/lirik-channel_offline_image-af3bc6ef396c76ae-1920x1080.png","background":null,"profile_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/lirik-profile_banner-cd63be39a747b629-480.png","profile_banner_background_color":"#221f1f","url":"https://www.twitch.tv/lirik","views":196115183,"followers":1800155,"_links":{"self":"https://api.twitch.tv/kraken/channels/lirik","follows":"https://api.twitch.tv/kraken/channels/lirik/follows","commercial":"https://api.twitch.tv/kraken/channels/lirik/commercial","stream_key":"https://api.twitch.tv/kraken/channels/lirik/stream_key","chat":"https://api.twitch.tv/kraken/chat/lirik","features":"https://api.twitch.tv/kraken/channels/lirik/features","subscriptions":"https://api.twitch.tv/kraken/channels/lirik/subscriptions","editors":"https://api.twitch.tv/kraken/channels/lirik/editors","teams":"https://api.twitch.tv/kraken/channels/lirik/teams","videos":"https://api.twitch.tv/kraken/channels/lirik/videos"}},"notifications":false}'
  recorded_at: Tue, 05 Sep 2017 20:40:42 GMT
recorded_with: VCR 3.0.3
