---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/channel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - 7ys61xpn2rnyzibtuuf05le3utxgts
      Authorization:
      - OAuth vmgryl3yotuzd472lqye7m96nwhtyn
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - a502c1110ae53ff6620a3f3bc47d5c28
      X-Ctxlog-Logid:
      - 1-59af00d9-11045d5e5971176342d697e5
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"{\"code\":401,\"status\":\"authentication
        failed\"}\n"}'
  recorded_at: Tue, 05 Sep 2017 19:54:01 GMT
recorded_with: VCR 3.0.3
