---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - 7ys61xpn2rnyzibtuuf05le3utxgts
      Authorization:
      - OAuth vmgryl3yotuzd472lqye7m96nwhtyn
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - b428f82e4ec6dc97ea8b666f68ff1e65
      X-Ctxlog-Logid:
      - 1-59aefe15-0ac769ea630fa5d909ebe993
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"display_name":"HonorShard","_id":171483384,"name":"honorshard","type":"user","bio":null,"created_at":"2017-08-26T08:44:26Z","updated_at":"2017-09-02T21:26:02Z","logo":null,"_links":{"self":"https://api.twitch.tv/kraken/users/honorshard"},"email":"masontholland@outlook.com","partnered":false,"notifications":{"push":true,"email":true}}'
  recorded_at: Tue, 05 Sep 2017 19:42:13 GMT
recorded_with: VCR 3.0.3
