<h1>Welcome</h1>
<%= link_to "Login with Twitch", "/auth/twitch" %>
<iframe frameborder="0"
        scrolling="no"
        id="chat_embed"
        src="http://www.twitch.tv/summit1g/chat"
        height="500"
        width="350">
</iframe>

