<h1> Tone Meter Page, there should be some stuff here </h1>
<%= javascript_include_tag('tone_meter.js') %>
<%#= @mood_data[:document_tone][:tone_categories][0][:tones] %>
<%= render 'home/tone_meter_part.js.erb' %>
<div id="stuff"></div>
