<div class="container">
  <div class="row">
    <% @chatrooms.each do |chatroom| %>
      <div class="col s3">
        <hr>
        <a href="https://palpit8.herokuapp.com/games/<%= chatroom.topic %>">
         <img src="https://static-cdn.jtvnw.net/ttv-boxart/<%= chatroom.topic %>-200x250.jpg" alt="Game Thumbnail">
        <%= chatroom.topic %>
        </a>
      </div>
    <% end %>
  </div>
  <div class="divider"></div>
</div>
