<div class="container">
  <div class="row">
    <% @chatrooms.each do |chatroom| %>
      <div class="col s3">
        <hr>
        <a href="<%= game_path(chatroom.topic) %>">
         <img src="https://static-cdn.jtvnw.net/ttv-boxart/<%= chatroom.topic %>-400x550.jpg" alt="Game Thumbnail" width="100%">
        <%= chatroom.topic %>
        </a>
      </div>
    <% end %>
  </div>
  <div class="divider"></div>
</div>
