@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize";

@keyframes pulse {
  0%{opacity: 1;}
  50%{ opacity: .4;}
  100%{transform: scale(2); opacity: 0;}
}
.box {
  float: right;
  overflow: hidden;
  position: relative;
  z-index: 1000;
  height: 200px;
  width: 100%;
}
.nextButton {
  border: 8px solid #CACCCD;
  border-radius: 50%;
  position: absolute;
  margin: auto auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 75px;
  height: 75px;
}

.pulse1{
  animation: pulse 2s infinite .4s;
}
.pulse2{
  animation: pulse 2s infinite .8s;
}
.pulse3{
  text-align: center;
  line-height: 75px;
  width: 75px;
  height: 75px;
}

.tone_title {
  text-align: center;
  margin-bottom: -15px;
  font-family: futura;
}

.palp-logo {
  margin-bottom: 10px;
}

#tones {
  font-family: futura;
}

#watching_now {
  color: red;
}

#nav-profile-pic {
  margin-right: 5px;
}

//dashboard

#profile {
  margin-top: 1%;
}

.profile-bio {
  font-size: 2vw;
  font-family: futura;
}

.profile-name {
  font-size: 4vw;
  font-family: futura;
}

#follow-channel {
  text-align: center;
  font-family: futura;
}

#channel-name {
  font-size: 2vw;
  text-align: center;
}
